*{
    margin:0 auto;
    padding: 0;
    max-width: 1600px;
    box-sizing: border-box;
}
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    background-color: #FFFFFF;
    border: 1px salmon solid;
}
nav .logo{
    padding: 16px 0 16px 0px;
}
nav .navbar .logo{
}
nav .menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 32px;
}
nav .menu ul li a{
    text-decoration: none;
 font-size: 16px;
 color: #000000;
 font-weight: 500;
}
nav .menu ul li:hover{
    background-color: blueviolet;
}
.btn{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}
/* banner -section */
#banner{
    max-width: 1600px;
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
}
.banner-container{
    max-width:1360px ;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 115px;
    padding-bottom: 180px;

}
.btm-first{
    font-size:16px ;
    font-weight:500 ;
    padding:8px 12px 8px 12px ;
    color: #30B868;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1000px;
    }
    .banner-container h1{
        padding-top: 16px;
        color: #FFFFFF;
        font-size: 72px;
        line-height: 84px;
        font-weight: bold;
    }
     .banner-container h2{
        font-size: 72px;
        font-weight: bold;
        color: #30B868;
        line-height: 84px;
        padding-top: 16px;
     }
     .banner-container p{
        font-size:18px ;
        font-weight: 400;
        color:#FFFFFF ;
        padding-bottom: 32px;
    }
     .btm-lift{
    padding: 12px 16px 12px 16px;
    align-items: center;
    align-content: center;
    border-radius: 4px;
}
.btm-lift a{
    text-decoration: none;
    color: #FFFFFF;

   
}
.btm-lift i{
    color: white;
}
.btm-lift{
    background-color:#469165;
}
/* cards-section */
#cards{
    max-width: 1600px;
}
.card-main{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}
.card-content h2{
    font-size: 48px;
    font-weight: bold;
    padding-top: 44px;
    padding-bottom: 16px;
    line-height: 100%;
    color:#001931;
}
.card-content p{
    font-size: 16px;
    color:#627382 ;
    
    line-height:20px ;
    font-weight:400 ;
    padding-bottom: 44px;
}
.card-info{
    display: flex;
    /* justify-content: space-between; */
    gap: 24px;
    align-content: center;
   
}
.card{
    min-height: 322px;


 align-content: center;
  background-color:#FFFFFF;
 
  box-shadow: 0px 0px 8px #0000000F;

}
.card img{
 background-color:#F95555;
 border-radius: 100%;
 padding: 4px;
 /* height: 60px;
 width: 60px; */
}
.card h4{
font-size:24px ;
font-weight: 600;
color:#001931 ;
line-height: 100%;
padding-top:16px ;
padding-bottom:16px ;
}
.card p{
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #627382;
}
/* images section */

#images{
    display: flex;
    max-width: 1600px;
    padding-top: 80px;
    margin: 0 auto;
    width: 85%;
   gap: 60px;
    
}
#images .image{
    max-width: 600px;
    max-height: 600px;
    /* border: none; */
    border-radius: 12px;
}
#images .image-heading h4{
    margin-top: 102px;
    font-size: 16px;
    font-weight:500 ;
   ;
    color: #469165;
}
#images .image-heading h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    color:#001931;
}
#images .image-heading p{
    font-size:16px ;
    font-weight: 400;
    color: #627382;
    padding-top: 16px ;
    line-height: 20px;
    padding-bottom: 40px;
}
#images .image-footer p i{
    color: white;
    background-color: #30B868;
    padding: 2px;
    border: none;
    border-radius: 100%;

}
#images .image-footer p{
    font-size:16px ;
    font-weight:500 ;
 
    color:#001931;
    padding-bottom: 16px;

}

